:root{

    --pretinho: #222;
    --pretao: #181818;
    --azulao: #06224A;
    --azulzinho: #BDF1F3;
    --azul: #8FBAF3;
    --branco: #FFFFFF; 
    --grande: 20px;
    --media: 14px;
    --pequena: 12px;
}


@keyframes gira {

    0%{

        transform: rotate(0deg);
    }

    100%{

        transform: rotate(360deg);
    }
}

@keyframes trocaCor {

    100%{

        stroke: red;
        stroke-width: 40;
    }
}

.center-block{

    display: block;
    margin-left: auto;
    margin-right: auto;
} 



*{

    margin: 0;
    padding: 0;
}

body{

    background-color: var(--pretinho);
}

h1{

    color: var(--azul);
    font-family: sans-serif;
    text-align: center;
}



svg{

    animation: gira 2s linear infinite;
    margin: auto;
    display: block;
    margin-top: 200px;
}

#haste{

    animation: trocaCor 5s linear infinite;
}