<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de E-mail com Template</title>
</head>
<body>

    <h1>Hey, sou um e-mail bonitão hein!</h1>
    
</body>
</html>