h1{

    color: rgb(100, 7, 100);
    text-align: center;
}


.container{

    display: flex;
    margin: 100px;
}

.row{

    flex-direction: row;
}

.col{

    flex-direction: column;
}

.quadrado{

    background-color: red;
    width: 60px;
    height: 60px;
    margin: 10px;
}