h1{

    color: rgb(201, 125, 201);
    text-align: center;
}

body{

    background-color: #222 ;
    color: white;
}


.container{

    display: flex;
    margin: 100px;
}

.row{

    flex-direction: row;
}

.row-reverse{

    flex-direction: row-reverse;
}

.col-reverse{

    flex-direction: column-reverse;
}

.col{

    flex-direction: column;
}

.quadrado{

    background-color: rgb(207, 88, 88);
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
}